.container{
    width: 80%;
    margin: 0 auto;
}
.artist{
    overflow: hidden;
    margin: 40px 0;
    /* padding: 40px 10%;
    border-bottom: 1px solid gray; */
}
.artist .col-1, .col-2, .col-3{
    float: left;
    height: 200px;
    background-color: rgb(124, 0, 0);
}
.col-1{width: 20%;} .col-2{width: 60%;} .col-3{width: 20%;}
.col-2 * {
    position: relative;
    top: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header-Info span{
    border-left: 1px solid black;
    margin-right: 10px;
    padding: 0 10px;
}
.col-3 * {
    position: relative;
    top: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.video{
    overflow: hidden;
    border: 1px solid black;
    margin: 5px;
}
.video .img{
    width: 45%;
    display: inline-block;
}
.video .title{
    display: inline-block;
    width: 45%;
    /* position: relative;
    top: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

#artistDesc{
    margin: 10px 20px;
}


